@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
html{
    height: 100%;
    background: linear-gradient(to bottom, #a4c0c0, #a6cdd2) !important; 
}
body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lora", serif;
    background: linear-gradient(to bottom, #816c7c, #a182a7),url(images/bg.jpg) 
    no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
    filter: brightness(1.1);
}
 .shadow-word {
    top: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 200px);
    overflow: hidden;
    position: absolute;
    font-size: 40px;
    color: #2c2c2c;
    max-width: 90vw;
    padding-left: 5%;
    word-wrap: break-word;
    white-space: pre-wrap;
    z-index: 10;
    text-shadow: 1.5px 1.5px 3px rgba(0,0,0,1);
    font-family: "Lora", serif;
    animation: sway 6s ease-in-out infinite;
    font-weight: 500;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 2s ease-in, transform 2s ease-out;
}
footer {
    background-color: #abc9c9;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
    color: #2E2E2E;
    position: relative;
    z-index: 1;
}


@keyframes sway {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-5px) rotate(-1deg); }
    100% { transform: translateY(0px) rotate(1deg); }
}

@keyframes backgroundShift{
    0% {babckground-position: 0% 50%}
    100% {background-position: 100% 50%}
}
body{
    animation:backgroundShift 60s ease-in-out infinite
}


@media screen and (max-width: 480px){
    .shadow-word {
        font-size: 28px;
        max-width: 96vw;
        padding: 0 2vw;
    }

}
